# https://maven.apache.org/configure.html#mvn-maven-config-file)
# Each single argument must be put on a new line, and lines beginning with # are treated as comments.

# This system property can be used e.g. to activate a custom profile:
# <activation>
#     <property>
#         <name>friendr</name>
#         <value>true</value>
#     </property>
# </activation>
# Use `mvnw help:active-profiles` to check if a profile is active.
# See https://maven.apache.org/guides/introduction/introduction-to-profiles.html#Property
-Dfriendr=true
